
.metadata/version.ini
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/3/13/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/3/13/refactorings.history
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.core/.launches/DE2-115.launch
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.resources/5.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.history/f2/109b20a1af6f001a192c90e51b450049
.metadata/.plugins/org.eclipse.core.resources/.history/b6/901be026b06f001a192c90e51b450049
.metadata/.plugins/org.eclipse.core.resources/.history/9a/e0af53e8af6f001a192c90e51b450049
.metadata/.plugins/org.eclipse.cdt.ui/usb_kb_bsp.build.log
.metadata/.plugins/org.eclipse.cdt.ui/usb_kb.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.core/usb_kb_bsp.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/usb_kb_bsp.1585260836029.pdom
.metadata/.plugins/org.eclipse.cdt.core/usb_kb.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/usb_kb.1585260835925.pdom
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/usb_kb.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/usb_kb_bsp.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/usb_kb.build.log
.metadata/.plugins/org.eclipse.cdt.ui/usb_kb_bsp.build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/usb_kb_bsp/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/5.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/DE2-115.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/3/13/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/3/13/refactorings.index
.metadata/version.ini
